
.root {
    -fx-background-image: url("/images/background_parkingSpace.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.content-box {
    -fx-padding: 40 30 30 30;
    -fx-spacing: 30;
}

.button-blue {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-radius: 20;
    -fx-padding: 10 20;
}

.center-content {
    -fx-translate-y: -50;
} 

.text-title {
    -fx-font-size: 28;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.label-subtitle {
    -fx-font-size: 18;
    -fx-text-fill: black;
}

.back-button-bar-lower {
    -fx-padding: 0 0 120 20; /* bottom padding pushes up a bit */
    -fx-alignment: BOTTOM_LEFT;
}

.back-button {
    -fx-font-size: 20;
    -fx-text-fill: #2196F3;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.back-button:hover {
    -fx-underline: true;
}
