.root {
    -fx-background-color: #2f2f2f;
}

.label, .text {
    -fx-text-fill: #f0f0f0;
}

.button {
    -fx-background-color: #5a9bd5;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 4, 0, 2, 2);
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #407ec9;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 8, 0, 4, 4);
}

.button:pressed {
    -fx-background-color: #6cb4ee;
}

.text-field {
    -fx-background-color: #404040;
    -fx-background-radius: 10;
    -fx-border-color: #666666;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
}

.table-view {
    -fx-background-color: #3c3c3c;
    -fx-border-color: #3c3c3c;
}

.table-view .column-header-background {
    -fx-background-color: #5a9bd5;
    -fx-text-fill: white;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.table-view .column-header:hover {
    -fx-background-color: #6cb4ee;
}

.status-label {
    -fx-text-fill: #bfbfbf;
    -fx-font-size: 13px;
    -fx-font-family: "Calibri";
}

